<div>
    <i class="material-icons cursor-pointer" style="color: gray;vertical-align: middle;font-size:xx-large;" routerLink="/cards">arrow_back</i>
    <div class="flex flex-col items-center" *ngIf="!this.folder.public || this.admin">
        <div class="w-full text-center my-5">
            <input type="text" [(ngModel)]="folder.name" class="drop-shadow-2xl shadow-lg mx-3"/>
            <button class="btn mx-3" (click)="onSaveFolder()">Save folder name</button>
            <button class="btn mx-3" (click)="onDeleteFolder()">Delete folder</button>
        </div>
        <div class="card flex flex-col w-1/3 justify-evenly p-5 shadow-2xl rounded-lg mb-6">
            <div class="question flex flex-row justify-between">
                <label for="question" class="label font-bold pr-2">Q:</label>
                <input type="text" name="question" id="question" class="question mb-5 drop-shadow-md w-full" [(ngModel)]="newCard.question">
            </div>
            <div class="answer flex flex-row justify-between">
                <label for="answer" class="label font-bold pr-2" >A:</label>
                <input type="text" name="answer" id="answer" class="answer mb-5 drop-shadow-md w-full" [(ngModel)]="newCard.answer">
            </div>
            <button class="btn" (click)="onAddCard()">Add Card</button>
        </div>
    </div>
    <div class="w-full grid grid-cols-2 gap-y-6">
        <app-card *ngFor="let card of this.cards" [card]="card" [admin]="this.admin" [public]="this.folder.public"></app-card>
    </div>
</div>