<div class="card flex flex-col w-1/3 justify-evenly p-5 shadow-2xl rounded-lg">
    <div class="question">
        <label for="question" class="label font-bold pr-2">Q:</label>
        <input type="text" name="question" id="question" class="question mb-5 flex-1 drop-shadow-md" [(ngModel)]="card.question">
    </div>
    <div class="answer">
        <label for="answer" class="label font-bold pr-2" >A:</label>
        <input type="text" name="answer" id="answer" class="answer mb-5 drop-shadow-md" [(ngModel)]="card.answer">
    </div>
    <button class="btn" (click)="onSaveCard()">Save</button>
    <button class="btn my-2" (click)="onDeleteCard()">Delete</button>
</div>