<div class="navbar flex justify-between bg-red-100 p-4">
    <h1 class="flashytitle text-white-100 text-2xl px-3">Flashy</h1>
    <div class="grow"></div>
    <div class="grow"></div>
    <div class="grow"></div>
    <ul class="nav-list flex justify-evenly grow text-black-100 px-4">
        <li><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li class="px-12"><a class="nav-link" routerLinkActive="active" routerLink="/cards">Cards</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/quiz">Quiz</a></li>
    </ul>
</div>