<div class="div bg-white-100 shadow-md mx-auto w-1/2 p-5 rounded-xl my-2">
    <form (ngSubmit)="onSignup()" [formGroup]="form">
        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control bg-lightgrey-100 rounded-2xl px-3 py-1 my-2 mx-auto w-full" formControlName="email" placeholder="Email">
            <p *ngIf="!form.get('email')?.valid && form.get('email')?.touched" class="error text-red-100">Email is required and should be unique</p>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control bg-lightgrey-100 rounded-2xl px-3 py-1 my-2 mx-auto w-full" formControlName="password" placeholder="Password">
            <p *ngIf="!form.get('password')?.valid && form.get('password')?.touched" class="error text-red-100">Password is required and should be at least 6 characters long</p>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control bg-lightgrey-100 rounded-2xl px-3 py-1 my-2 mx-auto w-full" formControlName="rpassword" placeholder="Repeat Password">
            <p *ngIf="form.get('rpassword')?.touched && !form.get('rpassword')?.valid" class="error text-red-100">Repeat password is required and should be matching password</p>
        </div>
        <div class="flex flex-row items-center justify-center">
            <button type="submit" [disabled]="!form.valid" class="bg-primary-100 text-white-100 rounded-3xl p-1 px-8 mx-auto hover:cursor-pointer">Signup</button>
            <a routerLink="../login" class="mx-auto px-8 bg-secondary-100 text-white-100 rounded-3xl p-1">Login</a>
        </div> 
    </form>
</div>
