<div class="folderview w-full flex flex-col items-center">
    <div class="my-6">
        <input type="text" name="new-folder" id="new-folder" [(ngModel)]="newFolder.name" class="drop-shadow-2xl shadow-lg mx-3" placeholder="Folder name">
        <button (click)="onAddFolder()" class="btn">Add Folder</button>
    </div>
    <div class="w-full grid grid-cols-4 justify-items-center gap-y-10">
        <app-folder *ngFor="let folder of this.folders" [folder] = "folder"></app-folder>
    </div>
</div>