<div class="folderview w-full flex flex-col items-center">
    <div class="my-6">
        <input type="text" name="new-folder" id="new-folder" [(ngModel)]="newFolder.name" class="drop-shadow-2xl shadow-lg mx-3" placeholder="Folder name">
        <button (click)="onAddFolder()" class="btn">Add Folder</button>
    </div>
    <div *ngIf="!admin">
        <a class="nav-link bg-primary-100 text-white-100 rounded-md p-2 px-3 mr-3" routerLink="/cards" appButtonColor [color]="'grey'">Personal</a>
        <a class="nav-link bg-primary-100 text-white-100 rounded-md p-2 px-3 mr-3" routerLink="public" appButtonColor [color]="'grey'">Public</a>
    </div>
    <router-outlet></router-outlet>
</div>